go 1.19

use (
	./arrays_and_slices
	./concurrency
	./dependency_injection
	./hello_world
	./integers
	./iteration
	./main
	./maps
	./mocking
	./pointers_and_errors
	./reflection
	./select
	./structs_methods_interfaces
)
